CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

POSTGRES_PASSWORD=1561
POSTGRES_USER=admin
POSTGRES_DB=picasso
PORT=5433
HOST=db

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=admin
DJANGO_SUPERUSER_EMAIL=admin@admin.com

SECRET_KEY='django-insecure-a2cywk@tv1(54=bky%m_nsnsop$=gc$95geo2&cneb))3-*l@f'
DEBUG=0
ALLOWED_HOSTS="localhost 127.0.0.1 0.0.0.0"